<div class='top-wrapper'>
  <div class='top-inner'>
    <h1>モチベの泉</h1>
    <a href="/roulette" class="btn">ルーレット</a>
    <a href="/posts" class="btn">掲示板一覧</a>
      <div class='top-inner-text'>
        <p>学校や仕事でモチベが下がった時<br>このアプリで仲間たちと様々なアイデアをシェアして<br>新しい気づきやポジティブなエネルギーをもらおう！</p>
    </div>
  </div>
</div>
