<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    「モチベの泉」より
  </title>
</head>
<body>
  <h1>こんにちは <%= @user.name %>さん</h1>
  <p>「モチベの泉」のアプリにログインしてから30日以上経過しています！</p>
  <p>久しぶりにアプリをのぞいてみませんか？</p>
  <p>アクセスは<a href="https://web-app-1.fly.dev/">こちら</a>から</p>
</body>
</html>
