<h1>通知設定が有効になりました</h1>
<p>こんにちは、<%= @user.name %>さん。</p>
<p>「モチベの泉」の通知設定が有効になりました。ログインから30日以上経過した場合メールでお知らせします。</p>
<p>通知の設定は<a href="https://web-app-1.fly.dev/users/<%= @user.id %>/edit_notification_settings">こちら</a>で変更できます。</p>
