<h1>通知設定が有効になりました</h1>
<p>こんにちは、<%= @user.name %>さん。</p>
<p>「モチベの泉」の通知設定が有効になりました。ログインから30日以上経過した場合メールでお知らせします。</p>
<p>*現在はログインから１分以上経過したユーザーに5分おきにメールを送るように設定しています</p>
<p>*MVPリリース後は30日以上経過したユーザーに１週間おきにメールを送るように設定します</p>

<p>通知の設定は<a href="https://web-app-1-solitary-bird-4473.fly.dev/users/<%= @user.id %>/edit_notification_settings">こちら</a>で変更できます。</p>
