<div class="container mx-auto max-w-[85rem]">
  <div class="max-w-[85rem] mx-auto px-4 sm:py-20">
    <div class="flex flex-col items-center">
      <%= form_for @user, url: update_notification_settings_user_path(@user), html: { class: "space-y-4" } do |f| %>
      <p>ログインから30日以上経過した場合メールでお知らせします。</p>
      <div class="field">
        <%= f.label :enable_notifications, "通知を有効にする", class: "block text-xl font-medium text-gray-700" %>
      <div class="mt-2">
        <%= f.check_box :enable_notifications, class: "w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "設定を更新", class: "inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-gray-500 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>
      <% end %>
    </div>
  </div>
</div>

