<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card-body">
          <h2 class="card-title text-center" ref="/users/<%= current_user.id %>?redirect_to=my_page">マイページ</h2>
            <%= render partial: 'shared/posts', locals: { posts: @posts } %>
        </div>
      </div>
    </div>
  </div>
