<div class="footer">
  <div class="flex flex-wrap bg-[#fafafa]">
    <div class="text-gray-400 max-w-[85rem] p-3 flex justify-between w-full">
        <a class="pt-2 text-xs">&copy;2024 Rachi, All Rights Reserved</a>
        <div class="flex text-sm">
          <a class="ml-5 font-medium hover:text-gray-300" href="/contacts">問い合わせ</a>
          <a class="ml-5 font-medium hover:text-gray-300" href="/about">利用規約</a>
          <a class="ml-5 font-medium hover:text-gray-300" href="/about">プライバシーポリシー</a>
        </div>
    </div>
  </div>
</div>
