<footer id='footer' class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-auto'>
          <a href='/contacts'>問い合わせ</a>
      </div>
      <div class='col-auto'>
          <a href='/about'>利用規約</a>
      </div>
      <div class='col-auto'>
          <a href='/about'>プライバシーポリシー</a>
      </div>
    </div>
  </div>
</footer>
