<footer class="z-50 max-w-[98%] w-full  mh-auto mx-auto px-4 text-sm bg-[#FAFAFA]">
  <div class="flex justify-between w-full pb-2 text-gray-400">
      <a class="pt-2 text-xs">&copy;2024 Rachi, All Rights Reserved</a>
      <div class="pt-2 text-sm">
        <a class="ml-5 font-medium hover:text-gray-300" href="/contacts">お問い合わせ</a>
        <a class="ml-5 font-medium hover:text-gray-300" href="/about">利用規約</a>
        <a class="ml-5 font-medium hover:text-gray-300" href="/about">プライバシーポリシー</a>
      </div>
  </div>
</footer>

