  .container {
  margin-top: 5%;
 }
  .card-title {
    color: #333;
    margin-bottom: 7%;
  }
  /* リンクの色を指定 */
  a {
    color: #333; /* 任意の色に変更 */
    text-decoration: none; /* リンクの下線を削除 */
  }

  /* マウスオーバー時のリンクの色を指定 */
  a:hover {
    background-color: #f5fcff;

    text-decoration: none; /* マウスオーバー時の色を指定 */
  }
