<% provide(:title, '利用規約・プライバシーポリシー') %>
<div class="container px-4 mx-auto mt-20 mb-20 max-w-[700px]">
  <h2 class="mb-6 text-3xl font-bold text-center text-indigo-700">利用規約・プライバシーポリシー</h2>

    <p class="text-gray-700">
      当ウェブアプリの利用規約兼プライバシーポリシー（以下、「本ポリシー」とします）は、本ウェブアプリの利用をもって同意したものとみなします。本ポリシーに同意いただけない場合は、本ウェブアプリをご利用いただけません。
    </p>

    <h3 class="mt-16 mb-2 text-xl font-semibold text-indigo-900">1. 収集する情報</h3>
    <p class="text-gray-700">
      当ウェブアプリの利用に際して、以下の情報を収集する場合があります。
    </p>
    <ul class="pl-5 mt-4 text-gray-700 list-disc">
      <li>ユーザーが提供する情報：新規登録時やお問い合わせフォームなどを通じて、ユーザーが提供する情報（例：お名前、メールアドレスなど）。</li>
      <li>自動収集される情報：ユーザーが本ウェブアプリを利用する際に、デバイスやブラウザから自動的に収集される情報（例：利用状況のログ情報など）。</li>
    </ul>

    <h3 class="mt-8 mb-2 text-xl font-semibold text-indigo-900">2. 利用目的</h3>
    <p class="text-gray-700">
      収集した情報は、以下の目的で利用されます。
    </p>
    <ul class="pl-5 mt-4 text-gray-700 list-disc">
      <li>ユーザーからのお問い合わせやお問い合わせに対する返信のため。</li>
      <li>サービスの提供、維持、保護、改善のため。</li>
      <li>法令や規制に対応するため。</li>
    </ul>

    <h3 class="mt-8 mb-2 text-xl font-semibold text-indigo-900">3. 第三者への提供</h3>
    <p class="text-gray-700">
      当ウェブアプリは、以下の場合を除き、ユーザーの個人情報を第三者に提供しません。
    </p>
    <ul class="pl-5 mt-4 text-gray-700 list-disc">
      <li>ユーザーの同意がある場合。</li>
      <li>法令に基づく場合。</li>
    </ul>

    <h3 class="mt-8 mb-2 text-xl font-semibold text-indigo-900">4. 個人情報の管理</h3>
    <p class="text-gray-700">
      当ウェブアプリは、ユーザーの個人情報を適切に管理し、情報の紛失、漏洩、改ざんなどを防止するための安全対策を実施します。
    </p>

    <h3 class="mt-8 mb-2 text-xl font-semibold text-indigo-900">5. 変更と見直し</h3>
    <p class="text-gray-700">当ウェブアプリは、本ポリシーを適宜見直し、その内容を改善することがあります。変更がある場合は、本ウェブアプリ上で通知いたします。</p>

    <h3 class="mt-8 mb-2 text-xl font-semibold text-indigo-900">6. お問い合わせ先</h3>
    <a class="text-gray-700 ">本ウェブアプリに関する </a><a class="text-indigo-600 cursor-pointer hover:text-indigo-400">お問い合わせはこちら</a>
</div>