body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.footer {
  position: sticky;
  top: 100vh;
  a {
    color: rgb(62, 62, 62);
  }

  .container {
    margin: 20px;
  }
}